.header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name {
  font-weight: 900;
}

.menu {
  display: flex;
  list-style: none;
}

.menuitem {
  margin-left: 1rem;
}
